<html>
	<head>
		<div class="navigationBar">
			<table>
				<tr>
					<td><%= link_to "Home", controller: "welcome" %></td>
					<td><%= link_to "About", controller: "about" %></td>
					<td><%= link_to "Contact", controller: "contact" %></td>
				</tr>
			</table>
		</div>
	</head>

	<body>
		<hr>
		<div class="content">
			<p>About</p>
		</div>

	</body>
</html>