<html>
	<head>
		<div class="navigationBar">
			<table>
				<tr>
					<td><%= link_to "Home", controller: "welcome" %></td>
					<td><%= link_to "About", controller: "about" %></td>
					<td><%= link_to "Contact", controller: "contact" %></td>
				</tr>
			</table>
		</div>
	</head>

	<body>
		<hr>
		<div class="content">
			<p>Contact</p>

			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;q=16277+valley+blvd+fontana+ca+92335&amp;ie=UTF8&amp;hq=&amp;hnear=16277+Valley+Blvd,+Fontana,+California+92335&amp;gl=us&amp;ll=34.069313,-117.449972&amp;spn=0.012887,0.026157&amp;t=h&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;q=16277+valley+blvd+fontana+ca+92335&amp;ie=UTF8&amp;hq=&amp;hnear=16277+Valley+Blvd,+Fontana,+California+92335&amp;gl=us&amp;ll=34.069313,-117.449972&amp;spn=0.012887,0.026157&amp;t=h&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			
		</div>

	</body>
</html>